*{
     box-sizing: border-box;
}

#conteiner {
    max-width: 1244px;
    margin: auto;
    font-family: Open Sans, arial;
    padding: 0px 2px;

}
nav {
    position: sticky;
    top: 0.1px;
    background-color: rgba(0, 0, 0, 0.70);
    width: 100% ;
    height: 43px;
    border-radius: 5px;
    z-index: 100;

}


/*
nav img {
    display:block;
    width: 240px;
    height: 100%;
}
*/
a.menu {
    display: inline-block;
    float: left;
    width: 20%;
    padding: 10px 5px 10px 5px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

a.menu:hover {
    font-size: 18px;
    color: #f7dfec;
    box-sizing: border-box;
    border: solid 2px #f7dfec;
    border-radius: 5px;
    margin-top: 1px;
    transition-duration: 0.4s;


}

.menu.active {
    font-size: 18px;
    color: #eef091;
    box-sizing: border-box;
    border: solid 2px #eef091;
    border-radius: 5px;
    margin-top: 1px;
    transition-duration: 0.4s;
}


header img {
    width: 100%;
    display: block;
    height: 380px;
}

article{
    max-width: 1240px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;

}

.therapy {
    border-radius: 25px;
    display: inline-block;
    position: relative;
}

article h1 {

    text-align: center;
    font-size: 35px;
    margin: 0 20% 5px 40%;
    padding-bottom: 10px;

}
.therapy h1{
    display: block;
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: auto;


}
.boxter{
    display: inline-block;
    width: 65%;
    border: 3px solid #f7dfec;
    border-radius: 20px;
    padding: 5px;
    margin-left: 5px;
}
.therapy h3 {
    display: inline-block;
    float: left;
    font-size: 25px;
    padding-left: 10px;

}

.tex {
    display: inline-block;
    border: none;
    width: 100%;
}




img.face{
    width: 25%;
    height: 25%;
    float: left;
    padding:  10px;
    display: block;
    border-radius:40% 15%;
    border: 3px solid #f7dfec;
    margin: 2px;

}

article p {
    text-align: justify;
    float: left;
    width: 74%;
    padding:10px;
    line-height: 25px;
    font-size: 18px;
    border-top: 3px solid #f7dfec;
    border-bottom: 3px solid #f7dfec;
}


.ter {
    position: absolute;
    width: auto;
    height: 39%;
    padding:  10px;
    display:inline-block;
    border-radius:15% 40% 0 40%;
    border: 3px solid #f7dfec;
    margin: 2px;


}

.tera {
    position: absolute;
    width: auto;
    height: 39%;
    padding:  10px;
    display:inline-block;
    border-radius:40% 0% 40% 15%;
    border: 3px solid #f7dfec;
    margin: 2px;
    bottom: 0px;


}

.terI {
    position: absolute;
    width: auto;
    height: 39%;
    padding:  10px;
    display:inline-block;
    border-radius:40% 15% 40% 0;
    border: 3px solid #f7dfec;
    margin: 2px;
    right: 0px;


}

.teraII {
    position: absolute;
    width: auto;
    height: 39%;
    padding:  10px;
    display:inline-block;
    border-radius: 0 40% 15% 40%;
    border: 3px solid #f7dfec;
    margin: 2px;
    bottom: 0px;
    right: 0px;


}


.clear{
    clear: both;
}

.box {
    padding-top: 40px;
    width: 100%;
    text-align: center;
}
.iconfb{
    width: 30%;
    margin-right: 50px;
}
.iconinst {
    width: 30%;
    margin-left: 50px;
}

.icond {
    width: 50%;

}
.iconm {
    width: 50%;
}


#footer {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 5px;

}

.footerTEXT {

    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}



